// font-family: 'Montserrat', sans-serif;

.qoins-page {
    padding-top: 150px;

    section {
        margin: 20px auto;
        padding: 10px;
    }

    div {
        margin: 0 auto;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        margin: 0;
    }

    .heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        margin-bottom: 30px;
    }

    .up {
        text-transform: uppercase;
    }

    .un {
        text-decoration: underline;
    }

    .divide {
        background: #1F98FF;
        min-height: 26px;
        height: auto;
        width: 92%;
        color: #fff;

        &.main {
            width: 100%;
            padding: 10px;
        }
    }

    ul {
        li {

        }
    }

    .col {
        display: inline-block;
        vertical-align: top;
    }


    .qoins1 {
        padding: 10px 4%;

        .top {
            max-width: 980px;
            margin: 0 auto;
            .col-l {
                width: 55%;
                text-align: center;
                margin-top: 30px;
                img {
                    width: 40%;
                }
                p {
                    margin: 0 auto 20px;
                    width: 30%;
                    width: 275px;
                    font-size: 20px;
                    &:last-child {
                        width: 60%;
                        width: 455px;
                    }
                }
            }
            .col-r {
                width: 45%;
                img {
                    width: 72%;
                }
            }
        }

        .bottom {
            max-width: 1150px;
            margin: 0 auto;
            .heading {
                text-align: center;
                margin-bottom: 50px;

            }
            .team {
                max-width: 830px;
                margin: 0 auto;
                display: flex;
                justify-content: space-evenly;
                .member {
                    width: 175px;


                    img {

                    }
                    p {

                    }
                }
            }

            .info {
                margin: 50px auto 100px;
                text-align:center;
                width: 85%;
            }
        }
    }

    .divide1.divide {
        padding: 20px;
        text-align: center;


    }

    .qoins2 {
        text-align: center;
        max-width: 1350px;
        padding: 10px 4%;

        .info {
            margin: 0 auto 50px;
        }

        .tags {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 50px auto 100px;
            .tag {
                display: inline-block;
                vertical-align: top;
                img {
                    width: 160px;
                }
            }
        }

        .box {
            background: #1F98FF;
            width: 85%;
            margin-bottom: 40px;
            padding: 40px;
            color: #fff;
            p {
                margin-bottom: 20px;
            }
            .tags {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: 50px auto 0;
                .tag {
                    display: inline-block;
                    vertical-align: top;
                    width: 250px;
                    img {
                        width: 175px;
                        filter: contrast(200%);
                    }
                }
            }

        }

    }

    .divide.divide2 {
        padding: 20px 100px 10px;
        .heading {
            text-align: center;
        }

        p {
            &:nth-child(odd) {
                margin-bottom: 20px;
            }
        }
    }

    .qoins3 {
        max-width: 1275px;
        padding: 10px 4%;

        .col-l {
            width: 35%;
            margin-right: 5%;
            .heading {
                margin: 20px auto 30px;
            }
            p {
                margin-bottom: 20px;
            }
        }

        .col-r {
            width: 60%;
            img {
                border: 1px solid #707070;
                max-width: 895px;
                width: 100%;
                height: 95%;
            }
        }
    }

    .qoins4 {
        // max-width: 1175px;
        padding: 80px 4%;
        display: flex;
        justify-content: space-between;
        .col-l {
            // width: 50%;
            padding-right: 50px;

            p:not(.heading) {
                margin-bottom: 20px;
            }
        }

        .col-r {
            // width: 50%;
            img {
                max-width: 620px;
                // width: 100%;
                width: 620px;
            }
        }
    }

    .qoins5 {
        padding: 20px 50px;
        p:not(.heading) {
            margin-bottom: 20px;
        }
    }

    .qoins6 {
        padding: 20px 50px;

        .col-l {
            width: 40%;

            p:not(.heading) {
                margin-bottom: 20px;
            }
        }

        .col-r {
            width: 60%;
            text-align: center;
            .top {
                img {
                    width: 80%;
                    height: 370px;
                }
            }

            .bottom {
                img {
                    width: 100%;
                }
            }
        }
    }

    .qoins7 {
        padding: 10px 4%;
        .heading {
            text-align: center;
        }

        .wire-desk {}
        .wire-tab {
            display: none;
        }
        .wire-mob {
            display: none;
        }

        .info {
            width: 80%;
            margin: 40px auto 20px;
            text-align: center;

        }
    }

    .qoins8 {
        padding: 30px 4%;
        // display: flex;
        // justify-content: space-between;
        .col-l {
            width: 30%;
            margin-right: 5%;
            p:not(.heading) {
                margin-bottom: 20px;
            }

        }

        .col-r {
            width: 65%;
            .top {
                display: flex;
                justify-content: space-between;
                img {
                    max-width: 420px;
                    width: 50%;
                    height: 290px;
                    display: inline-block;
                    object-fit: cover;

                    &:first-child {
                        margin-right: 10px;
                    }
                }

            }
            .bottom {
                margin-top: 50px;
            }
        }
    }

    .qoins9 {
        padding: 10px 4%;
        text-align: center;
        p {
            margin-bottom: 20px;
        }

    }

    .divide3.divide {
        text-align: center;
        padding: 30px;
        p {
            margin: 0 auto;
        }
    }
    .qoins10 {}

    .qoins11 {

        .iterate-desk {}
        .iterate-tab {
            display: none;
        }
        .iterate-mob {
            display: none;
        }
    }

    .qoins12 {}

    .qoins13 {}




    // background: #1F97FF;

    // p, li {
    //     line-height: 1.2;
    // }

    // // .hero {
    // //     height: 200px;
    // //     width: 100%;
    // //     background-color: #ccc;
    // //     position: relative;
    // // }

    // .slides {
    //     padding: 100px 0;
    //     text-align: center;

    //     @media (max-width: 550px) {
    //         padding: 50px 0;

    //     }

    //     .slide {
    //         max-height: 600px;
    //         height: 100%;
    //         width: 100%;
    //         // width: 800px;
    //         margin: 50px auto;

    //         .container {
    //             width: 800px;
    //             height: 600px;
    //             margin: 0 auto;
    //             position: relative;

    //             @media (max-width: 800px) {
    //                 width: 500px;
    //                 height: 400px;
    //             }

    //             @media (max-width: 550px) {
    //                 width: 375px;
    //                 height: 325px;
    //             }
    //         }
    //     }

    //     .spacer {
    //         background: #fff;
    //         height: 100px;
    //         width: 100%;
    //     }

    //     .slide1 {
    //         .container {
    //             background: url('../../images/qoins/title1.png') no-repeat center;
    //             background-size: cover;

    //             .team {
    //                 max-width: 400px;
    //                 width: 50%;
    //                 height: auto;
    //                 position: absolute;
    //                 bottom: 0;
    //                 right: 3%;
    //                 h1 {
    //                     margin: 10px auto 20px;
    //                     font-size: 20px;
    //                     color: #fff;
    //                     @media (max-width: 550px) {
    //                         font-size: 16px;
    //                         margin-bottom: 10px;
    //                     }
    //                 }
    //                 .member {
    //                     display: inline-block;
    //                     width: 33%;

    //                     img {
    //                         margin: 0;
    //                         width: 80%;
    //                     }

    //                     p {
    //                         width: 75%;
    //                         margin: 0 auto;
    //                         font-weight: 700;
    //                         color: #fff;

    //                         @media (max-width: 800px) {
    //                             font-size: 14px;
    //                             line-height: 1.1;
    //                         }

    //                         @media (max-width: 550px) {
    //                             font-size: 12px;
    //                         }
    //                     };
    //                 }
    //             }
    //         }
    //     }

    //     .slide2 {
    //         background: #fff;
    //         .container {
    //             background-image: url('../../images/qoins/title2.png');
    //             background-repeat: no-repeat;
    //             background-position: center;
    //             background-size: contain;

    //             .text1 {
    //                 position: absolute;
    //                 top: 9%;
    //                 right: 10%;
    //                 width: 40%;
    //                 padding: 2%;

    //                 h1 {
    //                     font-size: 30px;
    //                     font-weight: 700;

    //                     @media (max-width: 800px) {
    //                         font-size: 18px;
    //                     }

    //                     @media (max-width: 550px) {
    //                         font-size: 16px;
    //                     }
    //                 }

    //                 p {
    //                     font-size: 14px;
    //                     line-height: 1.3;
    //                     color: #fff;
    //                     @media (max-width: 550px) {
    //                         font-size: 12px;
    //                     }
    //                 }


    //             }

    //             .text2 {
    //                 position: absolute;
    //                 bottom: 5%;
    //                 right: -1%;
    //                 background: url('../../images/qoins/img1.png') no-repeat 40% 35%;
    //                 background-size: 100%;
    //                 height: 38%;
    //                 width: 50%;
    //                 padding: 2%;

    //                 // @media (max-width: 800px) {
    //                 //     background-size: 80%;
    //                 // }

    //                 @media (max-width: 550px) {
    //                     height: 20%;
    //                     bottom: 20%;
    //                     right: 0;
    //                     background-position: 40% 65%;
    //                     background-size: 90%;

    //                 }

    //                 p {
    //                     font-size: 14px;
    //                     font-weight: 700;
    //                     line-height: 1.1;
    //                     @media (max-width: 800px) {
    //                         font-size: 10px;
    //                     }

    //                     @media (max-width: 550px) {
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }

    //     }

    //     .slide3 {
    //         .container {
    //             background: url('../../images/qoins/title3.png') no-repeat center;
    //             background-size: contain;

    //             .text1 {
    //                 background: #fff;
    //                 height: 75%;
    //                 width: 50%;
    //                 position: absolute;
    //                 top: 10%;
    //                 left: 1%;
    //                 border-radius: 20px;
    //                 padding: 2%;

    //                 p {
    //                     font-weight: 700;
    //                     @media (max-width: 800px) {
    //                         font-size: 12px;
    //                         line-height: 1.1;
    //                     }
    //                 }

    //                 img {
    //                     width: 90%;
    //                 }

    //             }
    //         }
    //     }

    //     .slide4 {
    //         .container {
    //             background: url('../../images/qoins/title4.png') no-repeat center;
    //             background-size: contain;

    //             .text1 {
    //                 position: absolute;
    //                 top: 27%;
    //                 left: 3%;
    //                 text-align: left;
    //                 h3 {
    //                     color: #fff;
    //                     margin: 5px 0 0;
    //                     @media (max-width: 800px) {
    //                         font-size: 16px;
    //                     }

    //                     @media (max-width: 550px) {
    //                         font-size: 14px;
    //                     }
    //                 }

    //                 p {
    //                     margin: 0;
    //                     color: #fff;
    //                     line-height: 1.1;

    //                     @media (max-width: 800px) {
    //                         font-size: 12px;
    //                     }
    //                     @media (max-width: 550px) {
    //                         font-size: 10px;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .slide5 {
    //         background: #fff;
    //         .container {
    //             background-image: url('../../images/qoins/title5.png');
    //             background-repeat: no-repeat;
    //             background-position: 50% 85%;
    //             background-size: contain;
    //             .text1 {
    //                 text-align: left;
    //                 position: absolute;
    //                 top: 5%;
    //                 left: 0;
    //                 right: 0;
    //                 margin: 0 auto;
    //                 h1 {
    //                     display: inline-block;
    //                     vertical-align: top;
    //                     @media (max-width: 800px) {
    //                         font-size: 16px;
    //                     }
    //                 }

    //                 ul {
    //                     list-style: none;
    //                     display: inline-block;
    //                     margin-left: 100px;
    //                     li {
    //                         margin: 0;
    //                         font-weight: 700;
    //                         @media (max-width: 800px) {
    //                             font-size: 12px;
    //                             line-height: 1.2;
    //                         }

    //                         &:nth-child(2) {
    //                             padding-left: 20px;
    //                         }

    //                         &:nth-child(3) {
    //                             padding-left: 40px;
    //                         }

    //                         &:nth-child(4) {
    //                             padding-left: 60px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .slide6 {
    //         .container {
    //             padding-top: 100px;
    //             .text1, img {
    //                 display: inline-block;
    //                 vertical-align: top;
    //             }

    //             .text1 {
    //                 width: 40%;
    //                 text-align: left;

    //                 h1 {
    //                     color: #fff;
    //                     @media (max-width: 800px) {
    //                         font-size: 20px;
    //                     }

    //                     @media (max-width: 550px) {
    //                         font-size: 18px;
    //                     }
    //                 }

    //                 p {
    //                     margin: 0 0 15px;
    //                     font-weight: 700;
    //                     @media (max-width: 800px) {
    //                         font-size: 16px;
    //                     }
    //                     @media (max-width: 550px) {
    //                         font-size: 12px;
    //                     }
    //                 }

    //                 ul {
    //                     list-style: none;
    //                     margin: 0 0 20px;
    //                     li {
    //                         margin: 0;
    //                         font-style: italic;
    //                         @media (max-width: 800px) {
    //                             font-size: 14px;
    //                         }
    //                         @media (max-width: 550px) {
    //                             font-size: 12px;
    //                         }
    //                     }
    //                 }
    //             }

    //             img {
    //                 width: 55%;
    //                 margin-left: 10px;
    //             }
    //         }
    //     }

    //     .slide7 {
    //         .container {
    //             .text1, .images {
    //                 display: inline-block;
    //                 vertical-align: top;
    //             }

    //             .text1 {
    //                 width: 40%;
    //                 text-align: left;

    //                 h1 {
    //                     color: #fff;
    //                     @media (max-width: 800px) {
    //                         font-size: 20px;
    //                     }
    //                 }

    //                 ul {
    //                     margin: 0 0 20px;
    //                     li {
    //                         margin: 0;
    //                         @media (max-width: 800px) {
    //                             font-size: 14px;
    //                         }

    //                         @media (max-width: 550px) {
    //                             font-size: 12px;
    //                         }
    //                     }
    //                 }
    //             }

    //             .images {
    //                 width: 55%;
    //                 margin-left: 10px;
    //                 img {
    //                     max-width: 80%;
    //                 }
    //             }
    //         }
    //     }

    //     .slide8 {
    //         .text1 {
    //             background: #fff;
    //             padding: 15px;
    //             margin: 0 auto;
    //             h1, p {
    //                 display: inline-block;
    //                 vertical-align: top;
    //                 margin: 0;
    //                 text-align: left;
    //             }
    //             h1{
    //                 width: auto;
    //                 margin-right: 30px;
    //                 @media (max-width: 800px) {
    //                     font-size: 22px;
    //                 }
    //             }
    //             p {
    //                 width: 70%;
    //                 font-weight: 700;
    //                 @media (max-width: 800px) {
    //                     font-size: 14px;
    //                 }
    //             }
    //         }

    //         .container {
    //             background: url('../../images/qoins/title6.png') no-repeat center;
    //             background-size: contain;

    //         }
    //     }

    //     .slide9 {
    //         background: #8FCCFF;
    //         .container {
    //             background: url('../../images/qoins/title11.png') no-repeat center;
    //             background-size: contain;
    //         }
    //     }

    //     .slide10 {
    //         background: #fff;
    //         .container {
    //             background-image: url('../../images/qoins/title8.png');
    //             background-size: contain;
    //             background-repeat: no-repeat;
    //             background-position: 100% 70%;
    //             h4 {
    //                 margin: 0;
    //                 padding: 2%;
    //                 text-align: left;
    //                 @media (max-width: 800px) {
    //                     font-size: 16px;
    //                 }

    //                 @media (max-width: 550px) {
    //                     font-size: 14px;
    //                 }
    //             }

    //             .text1 {
    //                 position: absolute;
    //                 left: 2%;
    //                 top: 16%;
    //                 width: 55%;
    //                 border-radius: 18px;
    //                 padding: 2%;
    //                 text-align: left;
    //                 background: rgba(204, 204, 204, 0.719);
    //                 ul {
    //                     // list-style-type: none;
    //                     li {
    //                         margin: 0 0 10px;
    //                         font-weight: 700;
    //                         @media (max-width: 800px) {
    //                             font-size: 12px;
    //                         }
    //                         @media (max-width: 550px) {
    //                             font-size: 10px;
    //                         }
    //                     }
    //                 }

    //                 @media (max-width: 550px) {
    //                     width: 65%;
    //                     top: 20%;
    //                     left: 1%
    //                 }
    //             }
    //         }
    //     }

    //     .slide11 {
    //         .container {
    //             // background: url('../../images/qoins/title9.png') no-repeat center;
    //             h2 {
    //                 color: #fff;
    //                 @media (max-width: 800px) {
    //                     font-size: 20px;
    //                 }
    //             }
    //             img {
    //                 border-bottom: 70px solid #fff;
    //                 border-left: 70px solid #fff;
    //                 border-right: 70px solid #fff;
    //                 max-width: 100%;
    //                 @media (max-width: 800px) {
    //                     border-bottom: 40px solid #fff;
    //                     border-left: 40px solid #fff;
    //                     border-right: 40px solid #fff;
    //                 }
    //             }

    //         }
    //     }

    //     .slide12 {
    //         background: #fff;
    //         .container {
    //             background-image: url('../../images/qoins/title10.png');
    //             background-repeat: no-repeat;
    //             background-position: center;
    //             background-size: contain;

    //         }
    //     }

    //     .slide13 {
    //         .container {
    //             .text1 {
    //                 p {
    //                     color: #fff;
    //                     @media (max-width: 800px) {
    //                         padding-top: 5px;
    //                         font-size: 14px;
    //                     }
    //                     @media (max-width: 550px) {
    //                         font-size: 12px;
    //                     }
    //                 }
    //                 @media (max-width: 550px) {
    //                     position: absolute;
    //                     top: -50px;
    //                 }
    //             }
    //         }
    //         background: url('../../images/qoins/title7.png') no-repeat center;
    //     }

    //     .slide14 {
    //         background: #fff;
    //         padding: 50px 0;
    //         height: 700px;
    //         .container {
    //             background-image: url('../../images/qoins/title12.png');
    //             background-repeat: no-repeat;
    //             background-position: 50% 65%;
    //             background-size: 70%;

    //             h1 {
    //                 margin-top: -20px;
    //                 @media (max-width: 800px) {
    //                     font-size: 24px;
    //                 }
    //             }

    //         }

    //         @media (max-width: 800px) {
    //             height: 450px;
    //         }
    //     }

    //     .slide15 {
    //         .container {

    //             background: url('../../images/qoins/title13.png') no-repeat center;
    //             background-size: 80%;

    //             h1 {
    //                 color: #fff;
    //                 @media (max-width: 800px) {
    //                     font-size: 24px;
    //                 }
    //             }
    //         }
    //     }

    //     .slide16 {
    //         background: #fff;
    //         .container {
    //             background: url('../../images/qoins/title14.png') no-repeat;
    //             background-position: 100% 50%;
    //             background-size: 60%;

    //             .text1 {
    //                 position: absolute;
    //                 top: 25%;
    //                 left: 1%;
    //                 width: 35%;
    //                 text-align: left;

    //                 h1 {
    //                     @media (max-width: 800px) {
    //                         font-size: 24px;
    //                     }
    //                 }
    //                 ul {
    //                     list-style-type: none;
    //                     margin: 0;
    //                     li {
    //                         margin: 0 0 10px;
    //                         font-weight: 700;
    //                         @media (max-width: 800px) {
    //                             font-size: 14px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}
