.recycleATL-page .hero {
    background: #333;
    background: url('../../images/projects/recycleKicker.png') no-repeat, #000;
    border-top: 80px solid #000;
    background-size: contain;
    background-position: 65% 100%;
    
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
}

.recycleATL-page h3 {
    display:inline-block; 
    padding: 10px 20px;
    background: #333; 
    color: #fff;
}

.recycleATL-content article:nth-child(even) {
    text-align: right;
}

.recycleATL-content article:nth-child(even) ul {
    list-style-position: inside;
    /* direction: rtl;
    margin-right: 1.45rem; */

}

.recycleATL-content .inner-content {
    padding:  0 20px;
}